.see-all-page {
  padding: 20px;
}

.see-all-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.no-items {
  font-size: 1.2rem;
  color: gray;
  margin-top: 20px;
  text-align: center;
}

/* .floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d1c6c6;
    color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
} */

.go-back-container {
  text-align: center;
  margin-top: 20px; /* Ensure there's a space between the content and the button */
}

.go-back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: #0056b3;
}

.cart-counter {
  position: absolute;
  top: -0px;
  right: -0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon img {
  width: 30px;
  height: 30px;
}

.go-to-top-float {
  position: fixed;
  bottom: 180px;
  right: 23px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.go-to-top-float:hover {
  background-color: rgb(255, 38, 0);
}

/* Hide the button when at the top */
.go-to-top-float {
  opacity: 0;
  visibility: hidden;
}

.go-to-top-float:not([style*="opacity: 0"]) {
  opacity: 1;
  visibility: visible;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .go-back-button {
    width: 90%; /* Full width on mobile devices */
    padding: 10px; /* Adjust padding for better appearance */
    margin: 0px 6%;
  }
}
